/* Key Colors:

Union Dark Blue: #18262E;
Union Light Blue: #6097CB;
Dark Gold: #d5cd72;
Lighter Gold: #d5cd72;
White: #FFF;
Side Bar: #28292D

*/

/* Link Flair Colors */

a[href*="free_talk_friday"].title:link {
  color: #b39700;
  font-weight: bold;
}

a[href*="free_talk_friday"].title:visited {
  color: #b39700 !important;
  font-weight: bold;
}

a[href*="thread"].title:link {
  color: #000;
  font-weight: bold;
}

a[href*="thread"].title:visited {
  color: #000 !important;
  font-weight: bold;
}


a[href*="pre_match"].title:link {
  color: #000;
  font-weight: bold;
}

a[href*="pre_match"].title:visited {
  color: #000 !important;
  font-weight: bold;
}

a[href*="post_match"].title:link {
  color: #000;
  font-weight: bold;
}

a[href*="post_match"].title:visited {
  color: #000 !important;
  font-weight: bold;
}

a[href*="fantasy_talk_tuesday"].title:link {
  color: #b39700;
  font-weight: bold;
}

a[href*="fantasy_talk_tuesday"].title:visited {
  color: #b39700 !important;
  font-weight: bold;
}

a[href*="match thread"].title:link {
  color: #b00;
  font-weight: bold;
}

a[href*="match thread"].title:visited {
  color: #b00 !important;
  font-weight: bold;
}



/**********TEXT*************/

body {
  color: #021f42;
  background-color: #EEEEEE;
}

a:link {
  color: #5e97ce;
}

/* unvisited link */

a:visited {
  color: #5e97ce;
}

/* visited link */

a:hover {
  color: #5087bf;
}

/* mouse over link */

a:active {
  color: #5087bf;
}

/* selected link */

.comment .md a {
  color: #9D7E40;
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

a:active {
  text-decoration: underline;
}


.flat-list a {
  color: #5087bf!important;
}

hr {
  color: #5087bf;
  background-color: #5087bf;
  height: 2px;
}



#search input[type="text"] {
  bottom: 15px!important;
  z-index: 100!important;
  font-size: 14px!important;
  border: none;
  text-transform: capitalize;
  border-radius: 25px;
  box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, .15);
  padding: 10px 20px;
}

#search input[type=submit] {
  margin-left: -30px;
}


/*****replace "readers" with something else*****/

div.titlebox span.word {
  display: none
}

div.titlebox span.number:after {
  content: " Supporters"
}


/**********HEADER************/

#sr-header-area a.RESShortcutsCurrentSub,
#RESSubredditGroupDropdown .RESShortcutsCurrentSub a {
  color: #6097CB !important;
  font-weight: bold;

}


#sr-header-area {
  background-color: #18262E;
  color: #FFFFFF;
  white-space: nowrap;
  text-transform: uppercase;
  border-bottom: 0px solid #808080;
  font-size: 90%;
  height: 18px;
  line-height: 18px;
  padding-left: 0px;

}


#header {
  background-image: url(%%NavigationBar%%);
  background-color: #4f91cd;
  background-repeat: no;
  height: 200px;
  border-bottom: none;
  /*0px solid #6097CB;*/
}

#header-bottom-left .redditname a::before {
  content: '/r/';
}

#header-bottom-left .redditname a {
  position: absolute;
  bottom: 75px;
  padding-left: 20px;
  font-size: 28px;
  text-decoration: none;
  text-transform: uppercase;
  padding-bottom: 20px;
  padding-top: 20px;
  color: #ead7ac;
}

#header-bottom-left .redditname a:hover {
  color: #4a8aca;
}

#header-bottom-left .redditname {
  color: #15212f;
}

#header-bottom-left .tabmenu {
  margin-left: 50px
}

#header-img {
  margin: 10px 0 -5px 5px
}

#header-bottom-right {
  background: #ead7ac;
  padding: 4px 8px;
  border-radius: 0;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border: 1px dotted #5087bf;
  border-bottom: 0
}

a.subbarlink {
  color: #ead7ac;
}

.link {
  margin: 0px;
  padding: 8px;
  border-bottom: 1px solid #ddd;
}

.content {
  margin-top: 10px
}

#siteTable {
  list-style-type: none;
  width: calc(97% - 300px);
  margin: 15px;
  background: white;
  border-radius: 8px;
  box-shadow: 2px 2px 14px 2px rgba(0, 0, 0, .15);
}

.tabmenu li {
  margin: 0 3px
}

.tabmenu li a {
  background-color: transparent;
  color: #18262E;
  font-size: 15px;
  padding: 1px 4px 2px;
  cursor: pointer;
  -webkit-border-top-right-radius: 0px;
  -webkit-border-top-left-radius: 0px;
  -moz-border-radius-topright: 0px;
  -moz-border-radius-topleft: 0px;
  border-top-right-radius: 0px;
  border-top-left-radius: 0px
}

.tabmenu li.selected a {
  background-color: transparent;
  color: #fff;
  border: none
}

.tabmenu li a:hover,
.tabmenu li a:focus {
  background-color: #6097CB;
  color: #ead7ac;
  border: none
}

.tabmenu {
  margin: 0px 0px -3px -20px!important;
  padding-bottom: 0px;
  text-transform: uppercase;
}

.res-tabmenu-button {
  display: none!important;
}


/* ===== Table formatting ===== */

.md table {
  border: 2px solid #fff;
  box-shadow: 0 0 5px #ccc;
  margin: 1px 0 1px 0;
  position: relative;
  left: 1px
}

.titlebox .md table {
  width: 99%
}

.md table th {
  background: #303030;
  border-top: none;
  border-left: none;
  border-bottom: none;
  border-right: 1px solid #525252;
  color: #fafafa;
  font-weight: bold;
  padding: .5em;
  text-align: center;
  text-shadow: 1px 1px 0 #2f2f2f;
  font-size: 10px
}

.md table th a {
  color: #363636
}


/* === Formatting === */

.md table td {
  font-size: 10px;
  border: none;
  padding: .3em;
  vertical-align: middle
}

.md table td a {
  color: #27262c !important;
  font-weight: normal
}

.md table td a:hover {
  color: #fff !important;
  text-decoration: underline
}

/* === Alternate row colors === */

.md tr:nth-of-type(odd) {
  background: #fff;
  color: #363636
}

.md tr:nth-of-type(even) {
  background: #e3e3e3;
  color: #363636
}

/* === Alternate channel color === */

.md tr:nth-of-type(odd) td:nth-of-type(7) {
  background: #eee
}

.md tr:nth-of-type(even) td:nth-of-type(7) {
  background: #ccc
}

/* === Hover color === */

.md tr:hover {
  background: #a0cdff !important;
  cursor: default
}

.md tr:hover td:nth-of-type(7) {
  background: #396 !important;
  cursor: default
}

/*Sidebar*/

/*********sidebar image*****300by400****/

/* === start: rotating banner === */

div.side div.spacer:nth-of-type(1) {
  padding-top: 415px;
}

.titlebox {
  background: white;
  padding: 10px;
  border-radius: 8px;
  margin-top: 15px;
  box-shadow: 2px 2px 14px 2px rgba(0, 0, 0, .15);
}

.linkinfo {
  padding: 10px;
  border-radius: 8px;
  margin-top: 15px;
  box-shadow: 2px 2px 14px 2px rgba(0, 0, 0, .15);
  background: white;
  border: none;
}

.sidecontentbox .content {
  border: none;
}

.sidecontentbox {
  padding: 10px;
  border-radius: 8px;
  margin-top: 15px;
  box-shadow: 2px 2px 14px 2px rgba(0, 0, 0, .15);
  background: white;
  border: none;
}

#moderation_tools {
  background: white;
  padding: 10px;
  border-radius: 8px;
  margin-top: 15px;
  box-shadow: 2px 2px 14px 2px rgba(0, 0, 0, .15);
}

/*Optional- adds a caption under that image*/

div.side div.spacer:nth-of-type(1):before {
  display: block;
  margin-top: 50px;
  width: 300px;

}

.side > .spacer:after {
  content: "";
  display: block;
  box-sizing: border-box;
  position: absolute;
  right: 15px;
  top: 215px;
  width: 300px;
  height: 399px;
  background-size: cover;
  border: none;
  border-radius: 8px;
  opacity: 0;
  -webkit-animation: banner1 40s linear infinite;
  animation: banner1 40s linear infinite;
  box-shadow: 2px 2px 14px 2px rgba(0, 0, 0, .15);
}

/*Change Images in Sidebar: Paste 4th image code into 5th slot, 3rd image code to 4th slot, 2nd image code to 3rd slot, 1st image code to 2nd spot, put new image code in spot 1. Spot 1 will hold first image user sees.*/

.side > .spacer:nth-child(5):after {
  opacity: 1;
  z-index: 1;
  background-image: url(%%dockalplay400%%);
}

.side > .spacer:nth-child(4):after {
  background-image: url(%%fontana400%%);
  -webkit-animation-name: banner2;
  animation-name: banner2;
}

.side > .spacer:nth-child(3):after {
  background-image: url(%%blakeopener400%%);
  -webkit-animation-name: banner3;
  animation-name: banner3;
}

.side > .spacer:nth-child(2):after {
  background-image: url(%%dockal400%%);
  -webkit-animation-name: banner4;
  animation-name: banner4;
}

.side > .spacer:nth-child(1):after {
  background-image: url(%%accam400%%);
  -webkit-animation-name: banner5;
  animation-name: banner5;
}

@keyframes banner1 {
  16% {
    opacity: 1
  }
  20% {
    opacity: 0;
    z-index: 1
  }
  21% {
    z-index: 0
  }
  95% {
    z-index: 0
  }
  96% {
    opacity: 0;
    z-index: 1
  }
}

@keyframes banner2 {
  16% {
    opacity: 0;
    z-index: 1
  }
  20% {
    opacity: 1
  }
  36% {
    opacity: 1
  }
  40% {
    opacity: 0;
    z-index: 1
  }
  41% {
    z-index: 0
  }
}

@keyframes banner3 {
  36% {
    opacity: 0;
    z-index: 1
  }
  40% {
    opacity: 1
  }
  56% {
    opacity: 1
  }
  60% {
    opacity: 0;
    z-index: 1
  }
  61% {
    z-index: 0
  }
}

@keyframes banner4 {
  56% {
    opacity: 0;
    z-index: 1
  }
  60% {
    opacity: 1
  }
  76% {
    opacity: 1
  }
  80% {
    opacity: 0;
    z-index: 1
  }
  81% {
    z-index: 0
  }
}

@keyframes banner5 {
  1% {
    z-index: 0
  }
  76% {
    opacity: 0;
    z-index: 1
  }
  80% {
    opacity: 1
  }
  96% {
    opacity: 1
  }
  100% {
    opacity: 0;
    z-index: 1
  }
}

@-webkit-keyframes banner1 {
  16% {
    opacity: 1
  }
  20% {
    opacity: 0;
    z-index: 1
  }
  21% {
    z-index: 0
  }
  95% {
    z-index: 0
  }
  96% {
    opacity: 0;
    z-index: 1
  }
}

@-webkit-keyframes banner2 {
  16% {
    opacity: 0;
    z-index: 1
  }
  20% {
    opacity: 1
  }
  36% {
    opacity: 1
  }
  40% {
    opacity: 0;
    z-index: 1
  }
  41% {
    z-index: 0
  }
}

@-webkit-keyframes banner3 {
  36% {
    opacity: 0;
    z-index: 1
  }
  40% {
    opacity: 1
  }
  56% {
    opacity: 1
  }
  60% {
    opacity: 0;
    z-index: 1
  }
  61% {
    z-index: 0
  }
}

@-webkit-keyframes banner4 {
  56% {
    opacity: 0;
    z-index: 1
  }
  60% {
    opacity: 1
  }
  76% {
    opacity: 1
  }
  80% {
    opacity: 0;
    z-index: 1
  }
  81% {
    z-index: 0
  }
}

@-webkit-keyframes banner5 {
  1% {
    z-index: 0
  }
  76% {
    opacity: 0;
    z-index: 1
  }
  80% {
    opacity: 1
  }
  96% {
    opacity: 1
  }
  100% {
    opacity: 0;
    z-index: 1
  }
}

/* ==== end: rotating banner ==== */

.side {
  margin-top: 0px;
  padding-top: 0px;
  padding-left: 10px;
  padding-right: 10px;
  margin-right: 0px;
  width: 299px;
  background-color: transparent;
  padding: 8px;
}


/* PRETTY SUBMIT LINKS by /u/RainbowCrash*/

.morelink {
  font-weight: normal;
  letter-spacing: 0;
  background: #4a8ac8;
  border: none;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  -o-border-radius: 2px;
  -ms-border-radius: 2px;
  -khtml-border-radius: 2px;
  border-radius: 2px;
  height: 30px;
  line-height: 30px;
  overflow: hidden;
  color: white;
}

.morelink:hover {
  background: #3c71a5;
  border-color: #2f567d;
}

.morelink .nub {
  display: none;
}

.morelink {
  color: #fff;
  font-family: Verdana, Arial, sans-serif;
  font-size: 16px;
  border-radius: 2px;
  width: 140px;
  border: #3b6d9e 1px solid;
  border-bottom-width: 4px;
  display: inline-block;
}

.morelink a,
.morelink a:hover {
  color: white;
}

.sidebox.submit-link .morelink::before {
  display: block;
  clear: none;
  content: "Submit a Link";
  font-size: 95%;
}

.sidebox.submit-text .morelink::before {
  display: block;
  clear: none;
  content: "Submit Text";
  font-size: 95%;
}

.sidebox.submit .morelink a {
  position: absolute;
  top: 0;
  padding-left: 1000px;
  font-size: 0px;
  text-align: right;
  color: #56a6f7;
}

.sidebox.submit.submit-link {
  width: 150px;
}

.sidebox.submit.submit-text {
  margin-top: -49px;
  margin-left: 153px;
}

.sidebox.create {
  display: none;
}

.sidebox.submit.disabled {
  display: none;
}

/* NIGHTMODE FIXES */

.res-nightmode .sidebox.submit.submit-text {
  background: none !important;
  margin-top: -45px;
  margin-left: 153px;
}

.res-nightmode .sidebox {
  padding-left: 0px !important;
  border: 2px solid #151515 !important;
}

.res-nightmode .morelink {
  height: 29px !important;
}

.res-nightmode .morelink {
  background: rgb(39, 63, 87) !important;
}

.res-nightmode .morelink:hover {
  background: #449ef8 !important;
  background-color: #9edbf8 !important;
  border-color: #9edbf8 !important;
}

/* END NIGHTMODE FIX */

/* END PRETTY SUBMIT LINKS */

/***** Collapsible menu *****/

.titlebox .md h5 {
  color: #021f42;
  background-color: #f5f5f5;
  font-size: medium;
  border-left: 10px solid #4D6277;
  line-height: 30px;
  margin: 0;
  text-indent: 10px;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.24);

}

.titlebox .md h5 + ul {
  list-style: none;
  margin: 0;
  padding: 0;
  max-height: 0;
  overflow: hidden;
  -webkit-transition: 500ms max-height ease-out;
  transition: 500ms max-height ease-out;
}

.titlebox .md h5:hover + ul,
.titlebox .md h5 + ul:hover {
  max-height: 300px;
}

.titlebox .md h5 + ul li {
  background-color: #f2f2f2;
  color: #000;
  padding: 5px 3px 5px 13px;
  border-bottom: 0px solid #CCC;
  margin: 0;
}

.titlebox .md h5 + ul li:hover {
  background-color: #f2f2f2;
}

.titlebox .md h5 + ul li a {
  color: #4F8EF7;
}

.titlebox .md h5 + ul li:hover {
  background-color: #f2f2f2;
}


.side table {
  background: #f2f2f2;
}

.side table thead {
  background: silver;
}


/******LINK COLOR********/

#siteTable div.thing a.title {
  color: #18262E;
}

#siteTable div.thing a.title:visited {
  color: #5087bf
}







/*******karma score********/

.likes .score.likes {
  color: #18262E
}

.dislikes .score.dislikes {
  color: #6097CB
}

.likes div.score.likes {
  color: #18262E
}

.dislikes div.score.dislikes {
  color: #6097CB
}



.arrow.upmod {
  background-image: url(%%arrow-dark-up%%);
  background-position: 0 0;
  background-repeat: no-repeat;
}

.arrow.downmod {
  background-image: url(%%arrow-blue-down%%);
  background-position: 0 0;
  background-repeat: no-repeat;
}







/*******userbar*******/

#header-bottom-right * {
  color: #021f42!important
}

/****FLAIR******/

.linkflairlabel {
  font-size: 10px;
  border: none;
  width: auto!important;
  max-width: 70em!important;
  padding: 2px 10px;
  font-weight: 100;
  text-transform: capitalize;
  margin-bottom: -1px;
}

.linkflair-one .linkflairlabel {
  background-color: #6097CB;
  color: #fff;
}

.linkflair-two .linkflairlabel {
  background-color: #9D7E40;
  color: #fff;
}

.linkflair-three .linkflairlabel {
  background-color: #18262E;
  color: #fff;
}

.linkflair-four .linkflairlabel {
  background-color: #fff;
  color: #18262E;
  border: 1px solid #18262E;
}

.linkflair-five .linkflairlabel {
  background-color: #18262E;
  color: #9D7E40;
}




.flairselector .customizer {
  display: none !important;
}

.flair {
  background: url(%%spritesheet%%) no-repeat -9999px;
  border: 0;
  padding: 0;
}

.flair-4LeafClover {
  width: 28px;
  height: 30px;
  background-position: 0 0;
}

.flair-6CaseyRed {
  width: 15px;
  height: 31px;
  background-position: 0 -30px;
}

.flair-76ers {
  width: 30px;
  height: 30px;
  background-position: 0 -61px;
}

.flair-B {
  width: 18px;
  height: 31px;
  background-position: 0 -91px;
}

.flair-BIMBOLOGOWBEAR {
  width: 44px;
  height: 31px;
  background-position: 0 -122px;
}

.flair-BSFCUSL {
  width: 24px;
  height: 31px;
  background-position: 0 -153px;
}

.flair-BearFight {
  width: 44px;
  height: 31px;
  background-position: 0 -184px;
}

.flair-BearFightofWFC {
  width: 30px;
  height: 31px;
  background-position: 0 -215px;
}

.flair-BethlehemSteel {
  width: 31px;
  height: 31px;
  background-position: 0 -246px;
}

.flair-Bimbo {
  width: 81px;
  height: 31px;
  background-position: 0 -277px;
}

.flair-Bridge {
  width: 241px;
  height: 45px;
  background-position: 0 -308px;
}

.flair-BrotherlyGame {
  width: 31px;
  height: 31px;
  background-position: 0 -353px;
}

.flair-BullBusters {
  width: 34px;
  height: 31px;
  background-position: 0 -384px;
}

.flair-Colorado {
  width: 20px;
  height: 30px;
  background-position: 0 -415px;
}

.flair-Columbus {
  width: 30px;
  height: 30px;
  background-position: 0 -445px;
}

.flair-DCUnited {
  width: 22px;
  height: 30px;
  background-position: 0 -475px;
}

.flair-DOOPBlack {
  width: 66px;
  height: 31px;
  background-position: 0 -505px;
}

.flair-DOOPDarkBlue {
  width: 66px;
  height: 31px;
  background-position: 0 -536px;
}

.flair-DOOPGold {
  width: 66px;
  height: 31px;
  background-position: 0 -567px;
}

.flair-DOOPLightBlue {
  width: 67px;
  height: 32px;
  background-position: 0 -598px;
}

.flair-DeadBull {
  width: 26px;
  height: 31px;
  background-position: 0 -630px;
}

.flair-DemonBimboBear {
  width: 24px;
  height: 31px;
  background-position: 0 -661px;
}

.flair-DogFishHead {
  width: 54px;
  height: 30px;
  background-position: 0 -692px;
}

.flair-Eagles {
  width: 44px;
  height: 30px;
  background-position: 0 -722px;
}

.flair-Edu {
  width: 28px;
  height: 30px;
  background-position: 0 -752px;
}

.flair-FCDallas {
  width: 30px;
  height: 30px;
  background-position: 0 -782px;
}

.flair-FightinFranklin {
  width: 38px;
  height: 31px;
  background-position: 0 -812px;
}

.flair-FlagArgentina {
  width: 48px;
  height: 30px;
  background-position: 0 -843px;
}

.flair-FlagCameroon {
  width: 48px;
  height: 30px;
  background-position: 0 -873px;
}

.flair-FlagJamaica {
  width: 49px;
  height: 31px;
  background-position: 0 -903px;
}

.flair-FlagSierraLeone {
  width: 48px;
  height: 30px;
  background-position: 0 -934px;
}

.flair-FlagVenezuela {
  width: 48px;
  height: 30px;
  background-position: 0 -964px;
}

.flair-Franklin {
  width: 22px;
  height: 31px;
  background-position: 0 -994px;
}

.flair-Grateful-Ben {
  width: 31px;
  height: 31px;
  background-position: 0 -1025px;
}

.flair-HCI {
  width: 47px;
  height: 31px;
  background-position: 0 -1056px;
}

.flair-Houston {
  width: 35px;
  height: 30px;
  background-position: 0 -1087px;
}

.flair-JimCurtain {
  width: 18px;
  height: 29px;
  background-position: 0 -1117px;
}

.flair-LAGalaxy {
  width: 24px;
  height: 30px;
  background-position: 0 -1146px;
}

.flair-LV16 {
  width: 51px;
  height: 32px;
  background-position: 0 -1176px;
}

.flair-LeToux {
  width: 41px;
  height: 30px;
  background-position: 0 -1208px;
}

.flair-LibertyBellBlue {
  width: 31px;
  height: 38px;
  background-position: 0 -1238px;
}

.flair-LibertyBellGold {
  width: 31px;
  height: 38px;
  background-position: 0 -1276px;
}

.flair-Logo {
  width: 30px;
  height: 30px;
  background-position: 0 -1314px;
}

.flair-Logo2 {
  width: 30px;
  height: 30px;
  background-position: 0 -1344px;
}

.flair-LoveParkBlue {
  width: 31px;
  height: 30px;
  background-position: 0 -1374px;
}

.flair-LoveParkGold {
  width: 31px;
  height: 30px;
  background-position: 0 -1404px;
}

.flair-MBolhi {
  width: 22px;
  height: 30px;
  background-position: 0 -1434px;
}

.flair-MLSlogoGeneric {
  width: 30px;
  height: 31px;
  background-position: 0 -1464px;
}

.flair-Montreal {
  width: 28px;
  height: 30px;
  background-position: 0 -1495px;
}

.flair-NERevs {
  width: 46px;
  height: 30px;
  background-position: 0 -1525px;
}

.flair-NYCFC {
  width: 31px;
  height: 30px;
  background-position: 0 -1555px;
}

.flair-NYRB {
  width: 38px;
  height: 30px;
  background-position: 0 -1585px;
}

.flair-Orlando {
  width: 26px;
  height: 30px;
  background-position: 0 -1615px;
}

.flair-Philadelphia3rdLogo {
  width: 35px;
  height: 31px;
  background-position: 0 -1645px;
}

.flair-PhiladelphiaAtoms {
  width: 34px;
  height: 31px;
  background-position: 0 -1676px;
}

.flair-PhiladelphiaFury {
  width: 36px;
  height: 31px;
  background-position: 0 -1707px;
}

.flair-PhiladelphiaKixx {
  width: 44px;
  height: 31px;
  background-position: 0 -1738px;
}

.flair-Phillies {
  width: 32px;
  height: 30px;
  background-position: 0 -1769px;
}

.flair-Portland {
  width: 30px;
  height: 30px;
  background-position: 0 -1799px;
}

.flair-RSL {
  width: 23px;
  height: 30px;
  background-position: 0 -1829px;
}

.flair-ReadingUnited {
  width: 30px;
  height: 31px;
  background-position: 0 -1859px;
}

.flair-SOB {
  width: 31px;
  height: 31px;
  background-position: 0 -1890px;
}

.flair-SOBBlackBlue {
  width: 28px;
  height: 29px;
  background-position: 0 -1921px;
}

.flair-SOBChecker {
  width: 30px;
  height: 30px;
  background-position: 0 -1950px;
}

.flair-SOBMLSLogo {
  width: 30px;
  height: 31px;
  background-position: 0 -1980px;
}

.flair-SOBYards {
  width: 25px;
  height: 31px;
  background-position: 0 -2011px;
}

.flair-SOBYellowBlue {
  width: 28px;
  height: 29px;
  background-position: 0 -2042px;
}

.flair-SOBtextBlack {
  width: 71px;
  height: 32px;
  background-position: 0 -2071px;
}

.flair-SOBtextBlue {
  width: 71px;
  height: 32px;
  background-position: 0 -2103px;
}

.flair-SOBtextYellow {
  width: 71px;
  height: 32px;
  background-position: 0 -2135px;
}

.flair-SanJose {
  width: 24px;
  height: 30px;
  background-position: 0 -2167px;
}

.flair-Sapong {
  width: 20px;
  height: 31px;
  background-position: 0 -2197px;
}

.flair-Seattle {
  width: 20px;
  height: 29px;
  background-position: 0 -2228px;
}

.flair-SnakeBlack {
  width: 35px;
  height: 31px;
  background-position: 0 -2257px;
}

.flair-SnakeBlue {
  width: 35px;
  height: 31px;
  background-position: 0 -2288px;
}

.flair-SnakeGold {
  width: 35px;
  height: 31px;
  background-position: 0 -2319px;
}

.flair-SnakeRed {
  width: 35px;
  height: 31px;
  background-position: 0 -2350px;
}

.flair-Soul {
  width: 33px;
  height: 30px;
  background-position: 0 -2381px;
}

.flair-SportingKC {
  width: 27px;
  height: 30px;
  background-position: 0 -2411px;
}

.flair-Toronto {
  width: 32px;
  height: 30px;
  background-position: 0 -2441px;
}

.flair-Union3rdKit {
  width: 22px;
  height: 31px;
  background-position: 0 -2471px;
}

.flair-UnionAway {
  width: 24px;
  height: 30px;
  background-position: 0 -2502px;
}

.flair-UnionChecker {
  width: 30px;
  height: 30px;
  background-position: 0 -2532px;
}

.flair-UnionHome {
  width: 24px;
  height: 31px;
  background-position: 0 -2562px;
}

.flair-UnionMLSLogo {
  width: 30px;
  height: 31px;
  background-position: 0 -2593px;
}

.flair-Whitecaps {
  width: 23px;
  height: 30px;
  background-position: 0 -2624px;
}

.flair-chicago {
  width: 31px;
  height: 30px;
  background-position: 0 -2654px;
}

.flair-flagBosniaandHerzegovina {
  width: 45px;
  height: 30px;
  background-position: 0 -2684px;
}

.flair-flagBrazil {
  width: 45px;
  height: 30px;
  background-position: 0 -2714px;
}

.flair-flagFrance {
  width: 45px;
  height: 30px;
  background-position: 0 -2744px;
}

.flair-flagPortugal {
  width: 45px;
  height: 30px;
  background-position: 0 -2774px;
}

.flair-flagSwitzerland {
  width: 45px;
  height: 30px;
  background-position: 0 -2804px;
}

.flair-flagUSA {
  width: 45px;
  height: 30px;
  background-position: 0 -2834px;
}

.flair-flyers {
  width: 43px;
  height: 30px;
  background-position: 0 -2864px;
}


/******** side spacing *************/

html {
  background-image: url(%%NavigationBar%%);
  background-color: #6097CB;
  background-repeat: repeat-x;
  padding: 0 8px;
}


/******** sidebar Images *************/

a[href="/W"]:after {
  content: url(%%W%%);
  pointer-events: none;
  cursor: default;
}

a[href="/D"]:after {
  content: url(%%D%%);
  pointer-events: none;
  cursor: default;
}

a[href="/L"]:after {
  content: url(%%L%%);
  pointer-events: none;
  cursor: default;
}





/*************** Shakey Text ******************/

/*GORDON SHAKEY TEXT*/

a[href="/doop"] {
  color: #000000;
  text-transform: uppercase;
  display: block;
  font-size: 15px;
  animation: intensify .1s steps(5) infinite;
  -webkit-animation: intensify .1s steps(5) infinite;
  -moz-animation: intensify .1s steps(5) infinite;
}

@keyframes intensify {
  0% {
    margin-left: 0px;
  }
  100% {
    margin-left: 2px;
  }
}

@-webkit-keyframes intensify {
  0% {
    margin-left: 0px;
  }
  100% {
    margin-left: 2px;
  }
}

@-moz-keyframes intensify {
  0% {
    margin-left: 0px;
  }
  100% {
    margin-left: 2px;
  }
}


.side .md h6 {
  /* list button */
  position: relative;
  margin: 0;
  padding: 5px;
  background: #F5F5F5;
  font-size: 14px;
  color: #111;
  cursor: pointer;
  text-decoration: none;
  border-left: 10px solid #4D6277;
  margin-bottom: 5px;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.24);
  color: #021f42;
  font-size: medium;
  font-weight: bold;
  text-indent: 5px;
}

.side .md h6:after {
  /* "click to expand" text */
  content: "click to expand";
  position: absolute;
  top: 5px;
  right: 5px;
  font-size: 12px;
  font-weight: normal;
  color: gray;
}

.side .md h6 + ul {
  /* styles (+ hides) the list */
  position: relative;
  margin: -35px 0 10px;
  padding: 28px 0 0;
  list-style: none;
  display: none;
}

.side .md h6:active + ul,
/* displays list when button is clicked */

.side .md h6 + ul:hover {
  /* and when hovering over expanded list */
  display: block;
}

.side .md h6 + ul li {
  /* styles list items */
  position: relative;
  padding-top: 10px;
  padding-left: 5px;
  padding-right: 5px;
  font-size: 11px;
}
